body {
    margin: 0;
    background-image: url("bestofriend.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-style: italic;
}
button {
    background: #0b6dff;
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
button:disabled {
    background: hsla(216, 100%, 52%, 0.301);
    cursor: not-allowed;
}